Package: com.efrederickson.powersaver
Name: Power Saver Mode
Depends: mobilesubstrate, preferenceloader
Version: 0.0.1
Architecture: iphoneos-arm
Description: Adds a power-saving mode to iOS
Depiction: http://elijahandandrew.com/repo/depictions/PowerSaverMode/index.html
Maintainer: Elijah Frederickson
Author: Elijah and Andrew
Section: Tweaks
